nav {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 18, 32, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

nav .navbar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  list-style: none;
}

nav .navbar li {
  padding: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar li a:hover {
  color: #32bb64;
  cursor: pointer;
}

nav .navbar li i {
  font-size: 1.5em;
}

nav .navbar li.active a {
  color: #32bb64;
}

nav .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
}

nav .languages .language-box {
  width: 35px;
  height: 20px;
  overflow: hidden;
}

nav .languages .language-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .languages .language-box img.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

nav .languages .language-box:hover {
  cursor: pointer;
}

nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger-wrapper {
  visibility: visible;
  position: fixed;
  z-index: 90;
  top: 10px;
  right: 10px;
  width: 55px;
  height: 45px;
  padding: 12px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.burger-wrapper:hover {
  cursor: pointer;
}

.burger-wrapper .burger {
  width: 100%;
  height: 100%;
  position: relative;
}

.burger-wrapper .burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.burger-wrapper .burger span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: top 0.2s 0.4s, -webkit-transform 0.4s 0s;
  transition: top 0.2s 0.4s, -webkit-transform 0.4s 0s;
  transition: top 0.2s 0.4s, transform 0.4s 0s;
  transition: top 0.2s 0.4s, transform 0.4s 0s, -webkit-transform 0.4s 0s;
}

.burger-wrapper .burger span:nth-child(2) {
  top: calc(50% - 1px);
  opacity: 1;
  -webkit-transition: 0.2s 0.3s;
  transition: 0.2s 0.3s;
}

.burger-wrapper .burger span:nth-child(3) {
  bottom: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: bottom 0.2s 0.4s, -webkit-transform 0.4s 0s;
  transition: bottom 0.2s 0.4s, -webkit-transform 0.4s 0s;
  transition: bottom 0.2s 0.4s, transform 0.4s 0s;
  transition: bottom 0.2s 0.4s, transform 0.4s 0s, -webkit-transform 0.4s 0s;
}

.burger-wrapper.active {
  top: 80px;
}

.burger-wrapper.active span:nth-child(1) {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: top 0.2s 0s, -webkit-transform 0.4s 0.2s;
  transition: top 0.2s 0s, -webkit-transform 0.4s 0.2s;
  transition: top 0.2s 0s, transform 0.4s 0.2s;
  transition: top 0.2s 0s, transform 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
}

.burger-wrapper.active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.burger-wrapper.active span:nth-child(3) {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: bottom 0.2s 0s, -webkit-transform 0.4s 0.2s;
  transition: bottom 0.2s 0s, -webkit-transform 0.4s 0.2s;
  transition: bottom 0.2s 0s, transform 0.4s 0.2s;
  transition: bottom 0.2s 0s, transform 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
}

@media (min-width: 1024px) {
  .burger-wrapper {
    visibility: hidden;
  }
  nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
  }
  nav .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav .navbar li {
    padding: 0 30px;
    font-size: 1.3em;
    height: 100%;
  }
  nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=navbar.css.map */