@import 'colors';


.burger-circle{
    position: fixed;
    width: 45px;
    height: 35px;
    padding: 10px;
    z-index: 2;
    right: 30px;
    top: 20px;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: .2s;
    .burger-wrapper{    
        position: relative;
        width: 100%;
        height: 80%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        span{
            position: absolute;
            width: 80%;
            height: 4px;
            left: 10%;
            background-color: $main-color;
            border-radius: 25%;
            transition: background-color .2s, top .2s .2s, bottom .2s .2s, opacity .1s .3s, transform .2s .4s;
        }
        span:nth-child(1){
            top: 0;
            transform-origin: 50% 50%;
        }
        span:nth-child(2){
            opacity: 1;
            top: 50%;
            transform: translateY(-50%);
        }
        span:nth-child(3){
            bottom: 0;
        }
    }
    
}

.burger-circle:hover{
    cursor: pointer;
}

.burger-circle.active{
    box-shadow: 0 0 0 2px $main-color;
    transform: rotate(90deg) translateY(5px);
    width: 35px;
    .burger-wrapper{
        span{
            background-color: $main-color;
        }
        span:nth-child(1){
            top: calc(50% - 2px);
            transform: rotate(-45deg);
        }
        span:nth-child(2){
            opacity: 0;
        }
        span:nth-child(3){
            bottom: calc(50% - 2px);
            transform: rotate(45deg);
        }
    }
}

    


.navbar{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: $strong-black;
    z-index: 1;
    transition: .3s;
    .nav-content{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: auto;   
        .nav-ul{
            flex-grow: 1;
            height: 100vh;
            // kontener
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            li{
                font-family: 'Roboto';
                text-transform: uppercase;
                letter-spacing: 2px;
                display: flex;
                align-items: center;
                padding: 0 30px;
                height: 100%;
                font-size: 22px;
                color: white;
                transition: .3s;
            }
            li:hover{
                cursor: pointer;
                color: $main-color;
            }
            li.active{
                color: $main-color;
            }
        }

        .aboutus-button{
            display: none;
            height: 40px;
            width: 120px;
            border: 3px solid $light-color;
            color: $light-color;
            text-transform: uppercase;
            border-radius: 3px;
            background-color: transparent;
            letter-spacing: 1px;
            transition: .2s;
        }

        .aboutus-button:hover{
            background-color: $light-color;
            color: $like-black;
            cursor: pointer;
            font-weight: bold;
        }
    }
    .logo{ 
        font-size: 40px;
        font-weight: bold;
        color: $light-color;
        letter-spacing: 2px;
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translateY(-65%);
        .lplus{
            color: $main-color;
            font-size: 65px;
        }
    }
}

.navbar.active{
    background-color: $like-black;
}

.navbar.burger{
    left: 0;
}


//BURGER


@media (max-width: 575px){
    .burger-circle{
        top: 10px;
        right: 10px;
    }

    .navbar{
        .nav-content{
            .nav-ul{
                li{
                    font-size: 18px;
                }
            }
        }
        .logo{
            font-size: 18px;
            top: 30px;
            .lplus{
                font-size: 33px;
            }
        }
    }
        
}

@media (max-width: 767px){
    .navbar{
        .nav-content{
            .nav-ul{
                li{
                    font-size: 18px;
                }
            }
        }
        .logo{
            font-size: 18px;
            top: 30px;
            .lplus{
                font-size: 33px;
            }
        }
    }
}

@media (min-width: 768px){
    .navbar{
        .logo{
            top: 40px;
            .lplus{
                font-size: 33px;
            }
        }
    }
}


@media (min-width: 1025px){
    .navbar{
        height: 80px;
        left: 0;
        background-color: transparent;
        .nav-content{
            flex-direction: row;
            width: 75%;
            justify-content: space-between;
            .nav-ul{
                flex-grow: 0;
                height: 100%;
                // kontener
                flex-direction: row;
                li{
                    height: 100%;
                    font-size: 12px;
                    font-weight: bold;
                }
                li:hover{
                    cursor: pointer;
                    color: $main-color;
                }
                li.active{
                    color: $main-color;
                }
            }
    
            .aboutus-button{
                display: block;
                flex-shrink: 0;
                font-size: 12px;
            }
        }
        .logo{ 
            font-size: 14px;
            letter-spacing: 2px;
            top: 50%;
            left: 20px;
            .lplus{
                font-size: 39px;
            }
        }
    }
    .navbar.active{
        background-color: $like-black;
    }
}

@media (min-width: 1182px){
    .navbar{
        .nav-content{
            .nav-ul{
                li{
                    font-size: 18px;
                }
            }
            .aboutus-button{
                font-size: 14px;
            }
        }
        .logo{
            font-size: 20px;
            .lplus{
                font-size: 45px;
            }
        }
    }
}

