@import 'svgclass';
@import 'svganimations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  position: relative;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(135deg, #f75aa3, #ec7a1d);
  display: flex;
  justify-content: center;
  align-items: center;

  .home-content{
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .home-content-left{
      color: white;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      h1{
        opacity: 0.8;
        font-weight: bold;
        font-size: 7em;
        letter-spacing: 4px;
        font-family: 'Patrick Hand', cursive;
        text-transform: uppercase;
      }
      h2{
        font-weight: normal;
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        top: -30px;
        font-size: 1.8em;

      }
      button{
        background-color: transparent;
        transition: .3s;
        border-radius: 5px;
        border: 2px solid white;
        padding: 10px 7px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.4em;
        width: 50%;
        margin-top: 30px;
        box-shadow: 0 0 0 0 white;
        font-family: 'Patrick Hand', sans-serif;
      }
      button:hover{
        background-color: #fff;
        cursor: pointer;
        color: #f75aa3;
        animation-name: button-home;
        animation-duration: 1.5s;
        animation-delay: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    .home-content-right{
      width: 35vw;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .waves-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .cls-1 {
        fill: #fff;
        opacity: 1;
      }
      .cls-2{
        fill: #fff;
        opacity: 0.7;
      }
      .cls-3{
        fill: #fff;
        opacity: 0.4;
      }
    }
    #blob1{
      position: absolute;
      top: 30vh;
      left: -60px;
      width: 800px;
      .cls-1{
        fill: #fff;
        opacity: 0.6;
      }
    }
  }
}

@keyframes button-home{
  0%{
    box-shadow: 0 0 0 0 white;
  }
  25%{
    box-shadow: 0 0 5px 3px white;
  }
  50%{
    box-shadow: 0 0 0 0 white;
  }
  75%{
    box-shadow: 0 0 5px 3px white;
  } 
  100%{
    box-shadow: 0 0 0 0 white;
  }
}
